/* Variables */
$purple: hsl(300, 43%, 22%);
$pink: hsl(333, 80%, 67%);
$light-purple: hsl(303, 10%, 53%);
$very-light-purple: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

$main-font: 'Spartan', sans-serif;